# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Architecture&Scalability/FileContentIndex/e7296ca6-d288-473d-87fb-2b255bf1355b.vsidx
.vs/Architecture&Scalability/v17/.wsuo
.vs/Architecture&Scalability/v17/Browse.VC.db
.vs/Architecture&Scalability/v17/DocumentLayout.json
.vs/Architecture&Scalability/v17/ipch/AutoPCH/3d0d3e7e0c31bc5f/FLAPPY-BIRD.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.idea/vcs.xml
.idea/indexLayout.xml
.idea/encodings.xml
*.xml
flappy-bird/x64/Debug/vc143.pdb
flappy-bird/x64/Debug/vc143.idb
flappy-bird/x64/Debug/flappy-bird.tlog/link.read.1.tlog
flappy-bird/x64/Debug/flappy-bird.ilk
*.pdb
*.idb
*.tlog
*.ilk
